:root {
  /* 颜色 */
  --theme-color: #134BEA; /* 主题色 */

  /* 背景 */
  --background-white: #FFF; /* 白色背景 */
  --background-card: #F6F7FB; /* 小范围背景色【工作台卡片/搜索条件label/tab页/部分文字背景/剧本编排】 */
  --background-hover: #F1F2F5; /* hover背景颜色 */
  --background-disabled: #F1F2F5;

  /* 文字 */
  --text-color-default: #1E2435; /* 主要文字 */
  --text-color-disabled: #ADB1BC; /* 禁用文字 占位符文字 */
  --text-color-secondary: #353C51; /* 次要文字 */
  --text-color-error: #F53C3C; /* 错误提示文字 */

  /* 边框 */
  --border-color: #CBD0DB; /* 边框颜色、深色分割线 */

  /* 间距 */
  --spacing-base-small: 4px;
  --spacing-base-lowdefault: 6px;
  --spacing-base-default: 8px;
  --spacing-base-medium: 16px;
  --spacing-base-large: 24px;
}

@tip-line-height: 24px;
@tip-text-color: #999;
@tip-border-color: #ddd;

.w-100 {
  width: 100px!important;
}
.w-120 {
  width: 120px!important;
}
.w-180 {
  width: 180px!important;
}
.w-280 {
  width: 280px !important;
}
.w-300 {
  width: 300px!important;
}
.ml8 {
  margin-left: 8px !important;
}
