:root {
  --primary-color: #134BEA; /** 默认主题色 **/
  --primary-bg: #ffffff; /** 默认背景色 **/
  --primary-divider: #E9EAF0; /** 分割线色 */
  --color-page-bg: #f6f7fb; /** 页面背景色 */
  --color-text-title: #1E2435; /** 标题色 */
  --color-text-sub-title: #353C51; /** 次标题色 */
  --color-text-content: #1E2435; /** 内容色 */
  --color-text-placeholder: #7E8494; /** 占位符色 */
  --color-text-disabled: #7E8494; /** 文字禁用色 */
  --color-text-primary: #134BEA; /** 文字默认色 */
  --color-text-link: #134BEA; /** 文字链接色 */
  --color-table-border-color: #E9EAF0; /** 表格边框景色 */
  --color-table-th-bg: #F6F7FB; /** 表格头部背景色 */
  --color-table-td-bg: #ffffff; /** 表格内容背景色 */
  --color-table-td-hover-bg: #020C1E; /** 表格内容hover背景色 */
  --color-table-td-hover-text: #1E2435; /** 表格内容hover色 */
  --color-border-base: #CBD0DB; /** 边框色 */
  --color-select: #E8F2FF;/**框选中色*/
  --color-divider: #E9EAF0;/** 分割线色-页面 */
  --color-sql-icon: #1E2435; /** sql框icon颜色 */
  --errorColor: #f53c3c;
  --warnColor:#ff7f29;
  --textColor: #1e2435;
}

.dark,.theme-dark {
  --primary-color: #3B71EE; /** 暗色主题色 **/
  --primary-bg: #131924; /** 暗色背景色 G2 **/
  --primary-divider: #32394A; /** 分割线色 G4 */
  --color-page-bg: #080D18; /** 页面背景色 G1*/
  --color-text-title: #ffffff; /** 标题色 */
  --color-text-sub-title: #BCC3D1; /** 次标题色 G8 */
  --color-text-content: #ffffff; /** 内容色 */
  --color-text-placeholder: #878EA0 ; /** 占位符色 G7*/
  --color-text-disabled:  #60687B; /** 文字禁用色 G6*/
  --color-text-primary: #3B71EE; /** 文字默认色 */
  --color-text-link: #3B71EE; /** 文字链接色 */
  --textColor: #ffffff;
  --color-table-border-color: #444C5D; /** 表格边框景色 G5 */
  --color-table-th-bg: #080D18; /** 表格头部背景色 G1 */
  --color-table-td-bg: #131924; /** 表格内容背景色 G2*/
  --color-table-td-hover-bg: #080D18; /** 表格内容hover背景色 G1*/
  --color-table-td-hover-text: #1E2435; /** 表格内容hover色 */
  --color-border-base: #444C5D; /** 边框色 G5*/
  --color-select: #172444;/**框选中色*/
  --color-divider: #32394A; /**分割线色-页面 G4*/
  --color-sql-icon: #878EA0; /** sql框icon颜色 G7*/
  --errorColor: #3B71EE;
  --color-header-bg: #222937;
}
