@font-face {
  font-family: "zq-icon"; /* Project id 4482924 */
  src: url('iconfont.woff2?t=1731307654236') format('woff2'),
       url('iconfont.woff?t=1731307654236') format('woff'),
       url('iconfont.ttf?t=1731307654236') format('truetype');
}

.zq-icon {
  font-family: "zq-icon" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.zq-icon-a-chevron-left-lightdouble:before {
  content: "\e7fd";
}

.zq-icon-a-chevron-left-blackdouble:before {
  content: "\e7fe";
}

.zq-icon-icon-black:before {
  content: "\e7fa";
}

.zq-icon-icon-light:before {
  content: "\e7fb";
}

.zq-icon-icon-multilingual:before {
  content: "\e7fc";
}

.zq-icon-theme:before {
  content: "\e7f9";
}

.zq-icon-hengnaojiqiren:before {
  content: "\e7ec";
}

.zq-icon-jiancepinggu:before {
  content: "\e7ed";
}

.zq-icon-guanjizichan:before {
  content: "\e7ee";
}

.zq-icon-jiancerenwuzhongxin:before {
  content: "\e7ef";
}

.zq-icon-hulianwangwaifa:before {
  content: "\e7f0";
}

.zq-icon-gaoweiduankoujiance:before {
  content: "\e7f1";
}

.zq-icon-dengbaoxinxiguanli:before {
  content: "\e7f2";
}

.zq-icon-dengbaozonglan:before {
  content: "\e7f3";
}

.zq-icon-jifangxinxi:before {
  content: "\e7f4";
}

.zq-icon-dengbaogongzuoguanli:before {
  content: "\e7f5";
}

.zq-icon-dengbaopeizhiguanli:before {
  content: "\e7f6";
}

.zq-icon-danweishujuzhili:before {
  content: "\e7f7";
}

.zq-icon-baobiaoshezhi:before {
  content: "\e7f8";
}

.zq-icon-shengjiguanli:before {
  content: "\e7d9";
}

.zq-icon-a-liandongAPP:before {
  content: "\e7da";
}

.zq-icon-jiancechengguozhongxin:before {
  content: "\e7db";
}

.zq-icon-qingbaochaxun:before {
  content: "\e7dc";
}

.zq-icon-kaopingpingfen:before {
  content: "\e7dd";
}

.zq-icon-keyongxingjiance:before {
  content: "\e7de";
}

.zq-icon-kaopingpeizhi:before {
  content: "\e7df";
}

.zq-icon-qita:before {
  content: "\e7e0";
}

.zq-icon-kaopingtianbao:before {
  content: "\e7e1";
}

.zq-icon-qingbaoyuan:before {
  content: "\e7e2";
}

.zq-icon-jianchajihuaguanli:before {
  content: "\e7e3";
}

.zq-icon-kaopingrenwu:before {
  content: "\e7e4";
}

.zq-icon-jiancharenwugenjin:before {
  content: "\e7e5";
}

.zq-icon-jiekouzhanghaoshenqing:before {
  content: "\e7e6";
}

.zq-icon-gonggaolan:before {
  content: "\e7e7";
}

.zq-icon-jianchayaosuguanli:before {
  content: "\e7e8";
}

.zq-icon-jiancepeizhi:before {
  content: "\e7e9";
}

.zq-icon-jiankangzhishucesuan:before {
  content: "\e7ea";
}

.zq-icon-dubanzhongxin:before {
  content: "\e7eb";
}

.zq-icon-wangluokongjiantoushi:before {
  content: "\e7c6";
}

.zq-icon-wangluozichanrenling:before {
  content: "\e7c7";
}

.zq-icon-wangluoguihua:before {
  content: "\e7c8";
}

.zq-icon-gongzuohuibao:before {
  content: "\e7c9";
}

.zq-icon-xitongshujuzhili:before {
  content: "\e7ca";
}

.zq-icon-tanceqi:before {
  content: "\e7cb";
}

.zq-icon-qingbaozaixianfenxi:before {
  content: "\e7cc";
}

.zq-icon-sousuozhongxin:before {
  content: "\e7cd";
}

.zq-icon-qingbaozhuankan:before {
  content: "\e7ce";
}

.zq-icon-sheshiguanli:before {
  content: "\e7cf";
}

.zq-icon-shujuwaisong:before {
  content: "\e7d0";
}

.zq-icon-liandongzuduan:before {
  content: "\e7d1";
}

.zq-icon-quankusou:before {
  content: "\e7d2";
}

.zq-icon-shujuzichanfenxi:before {
  content: "\e7d3";
}

.zq-icon-qingbaozixun:before {
  content: "\e7d4";
}

.zq-icon-jiaoyupeixun:before {
  content: "\e7d5";
}

.zq-icon-shebeiguanli:before {
  content: "\e7d6";
}

.zq-icon-loudongqingbao:before {
  content: "\e7d7";
}

.zq-icon-liuliangdaili:before {
  content: "\e7d8";
}

.zq-icon-xukezheng:before {
  content: "\e7c4";
}

.zq-icon-yanpanzhongxin:before {
  content: "\e7c5";
}

.zq-icon-yujingzhongxin:before {
  content: "\e7b3";
}

.zq-icon-wangluoanquanzhishiku:before {
  content: "\e7b4";
}

.zq-icon-zhishiku:before {
  content: "\e7b5";
}

.zq-icon-yunyingbaogao:before {
  content: "\e7b6";
}

.zq-icon-xietongchuzhi:before {
  content: "\e7b7";
}

.zq-icon-youxiangshezhi:before {
  content: "\e7b8";
}

.zq-icon-rizhishenji:before {
  content: "\e7b9";
}

.zq-icon-yewudingyi:before {
  content: "\e7ba";
}

.zq-icon-xitongguanli:before {
  content: "\e7bb";
}

.zq-icon-tongbaotongji:before {
  content: "\e7bc";
}

.zq-icon-yonghuguanli:before {
  content: "\e7bd";
}

.zq-icon-yingjiziyuanxinxi:before {
  content: "\e7be";
}

.zq-icon-yingjiyuanguanli:before {
  content: "\e7bf";
}

.zq-icon-yingjizhihuipeizhi:before {
  content: "\e7c0";
}

.zq-icon-yewuxinxixitong:before {
  content: "\e7c1";
}

.zq-icon-wenjianfenxi:before {
  content: "\e7c2";
}

.zq-icon-hangyebiaozhun:before {
  content: "\e7c3";
}

.zq-icon-zhihuitiaodupeizhi:before {
  content: "\e7a1";
}

.zq-icon-yewushujuxinxi:before {
  content: "\e7a2";
}

.zq-icon-zichantance:before {
  content: "\e7a3";
}

.zq-icon-PCAPwenjianfenxi:before {
  content: "\e7a4";
}

.zq-icon-a-IPshujuzhili:before {
  content: "\e7a5";
}

.zq-icon-sousuomoxingyingyong:before {
  content: "\e7a6";
}

.zq-icon-zhudianpaiban:before {
  content: "\e7a7";
}

.zq-icon-zhilingguanli:before {
  content: "\e7a8";
}

.zq-icon-zaixianbeian:before {
  content: "\e7a9";
}

.zq-icon-zuzhijigouxinxi:before {
  content: "\e7aa";
}

.zq-icon-zichanpucha:before {
  content: "\e7ab";
}

.zq-icon-zhongbaozhidu:before {
  content: "\e7ac";
}

.zq-icon-zichanguanli:before {
  content: "\e7ad";
}

.zq-icon-zhilingpeizhi:before {
  content: "\e7ae";
}

.zq-icon-zhihuitiaodu:before {
  content: "\e7af";
}

.zq-icon-zhihuizhishou:before {
  content: "\e7b0";
}

.zq-icon-zhongbaozuzhi:before {
  content: "\e7b1";
}

.zq-icon-zhanghaoguanli:before {
  content: "\e7b2";
}

.zq-icon-file-powerpoint:before {
  content: "\e791";
}

.zq-icon-a-folderbeifen2:before {
  content: "\e792";
}

.zq-icon-file-image:before {
  content: "\e793";
}

.zq-icon-folderbeifen:before {
  content: "\e794";
}

.zq-icon-file-unknown:before {
  content: "\e795";
}

.zq-icon-folder-open:before {
  content: "\e796";
}

.zq-icon-file-pdf:before {
  content: "\e797";
}

.zq-icon-folder:before {
  content: "\e798";
}

.zq-icon-folder-add:before {
  content: "\e799";
}

.zq-icon-file-word:before {
  content: "\e79a";
}

.zq-icon-file:before {
  content: "\e79b";
}

.zq-icon-file-icon:before {
  content: "\e79c";
}

.zq-icon-file-paste:before {
  content: "\e79d";
}

.zq-icon-file-excel:before {
  content: "\e79e";
}

.zq-icon-file-add:before {
  content: "\e79f";
}

.zq-icon-file-copy:before {
  content: "\e7a0";
}

.zq-icon-user:before {
  content: "\e788";
}

.zq-icon-usergroup-add:before {
  content: "\e789";
}

.zq-icon-usergroup:before {
  content: "\e78a";
}

.zq-icon-usergroup-clear:before {
  content: "\e78b";
}

.zq-icon-user-talk:before {
  content: "\e78c";
}

.zq-icon-user-avatar:before {
  content: "\e78d";
}

.zq-icon-user-clear:before {
  content: "\e78e";
}

.zq-icon-user-add:before {
  content: "\e78f";
}

.zq-icon-user-circle:before {
  content: "\e790";
}

.zq-icon-a-menu-unfoldbeifen2:before {
  content: "\e782";
}

.zq-icon-format-vertical-align-right:before {
  content: "\e783";
}

.zq-icon-view-column:before {
  content: "\e784";
}

.zq-icon-order-descending:before {
  content: "\e785";
}

.zq-icon-view-list:before {
  content: "\e786";
}

.zq-icon-view-module:before {
  content: "\e787";
}

.zq-icon-chat:before {
  content: "\e77b";
}

.zq-icon-discount:before {
  content: "\e77c";
}

.zq-icon-drawer:before {
  content: "\e77d";
}

.zq-icon-attach:before {
  content: "\e77e";
}

.zq-icon-a-controlplatform:before {
  content: "\e77f";
}

.zq-icon-chart-bubble:before {
  content: "\e780";
}

.zq-icon-dashboard:before {
  content: "\e781";
}

.zq-icon-gender-female:before {
  content: "\e766";
}

.zq-icon-mobile:before {
  content: "\e767";
}

.zq-icon-cart:before {
  content: "\e768";
}

.zq-icon-gender-male:before {
  content: "\e769";
}

.zq-icon-heart-filled:before {
  content: "\e76a";
}

.zq-icon-gift:before {
  content: "\e76b";
}

.zq-icon-fork:before {
  content: "\e76c";
}

.zq-icon-heart:before {
  content: "\e76d";
}

.zq-icon-a-precisemonitor:before {
  content: "\e76e";
}

.zq-icon-creditcard:before {
  content: "\e76f";
}

.zq-icon-barcode:before {
  content: "\e770";
}

.zq-icon-star-filled:before {
  content: "\e771";
}

.zq-icon-discount-filled:before {
  content: "\e772";
}

.zq-icon-calendar:before {
  content: "\e773";
}

.zq-icon-call:before {
  content: "\e774";
}

.zq-icon-app:before {
  content: "\e775";
}

.zq-icon-books:before {
  content: "\e776";
}

.zq-icon-layers:before {
  content: "\e777";
}

.zq-icon-chart-bar:before {
  content: "\e778";
}

.zq-icon-desktop:before {
  content: "\e779";
}

.zq-icon-chart:before {
  content: "\e77a";
}

.zq-icon-cloud:before {
  content: "\e753";
}

.zq-icon-lock-on:before {
  content: "\e754";
}

.zq-icon-laptop:before {
  content: "\e755";
}

.zq-icon-flag:before {
  content: "\e756";
}

.zq-icon-image:before {
  content: "\e757";
}

.zq-icon-home:before {
  content: "\e758";
}

.zq-icon-star:before {
  content: "\e759";
}

.zq-icon-qrcode:before {
  content: "\e75a";
}

.zq-icon-mail:before {
  content: "\e75b";
}

.zq-icon-usb:before {
  content: "\e75c";
}

.zq-icon-code:before {
  content: "\e75d";
}

.zq-icon-service:before {
  content: "\e75e";
}

.zq-icon-location:before {
  content: "\e75f";
}

.zq-icon-history:before {
  content: "\e760";
}

.zq-icon-slash:before {
  content: "\e761";
}

.zq-icon-chart-pie:before {
  content: "\e762";
}

.zq-icon-photo:before {
  content: "\e763";
}

.zq-icon-lock-off:before {
  content: "\e764";
}

.zq-icon-notification-filled:before {
  content: "\e765";
}

.zq-icon-sound:before {
  content: "\e742";
}

.zq-icon-server:before {
  content: "\e743";
}

.zq-icon-video:before {
  content: "\e744";
}

.zq-icon-play-circle-stroke:before {
  content: "\e745";
}

.zq-icon-tips:before {
  content: "\e746";
}

.zq-icon-hourglass:before {
  content: "\e747";
}

.zq-icon-mobile-vibrate:before {
  content: "\e748";
}

.zq-icon-time:before {
  content: "\e749";
}

.zq-icon-notification:before {
  content: "\e74a";
}

.zq-icon-print:before {
  content: "\e74b";
}

.zq-icon-tools:before {
  content: "\e74c";
}

.zq-icon-pin:before {
  content: "\e74d";
}

.zq-icon-money-circle:before {
  content: "\e74e";
}

.zq-icon-secured:before {
  content: "\e74f";
}

.zq-icon-wallet:before {
  content: "\e750";
}

.zq-icon-shop:before {
  content: "\e751";
}

.zq-icon-wifi:before {
  content: "\e752";
}

.zq-icon-close-circle:before {
  content: "\e731";
}

.zq-icon-filter:before {
  content: "\e732";
}

.zq-icon-close-normal:before {
  content: "\e733";
}

.zq-icon-cloud-download:before {
  content: "\e734";
}

.zq-icon-import:before {
  content: "\e735";
}

.zq-icon-chevron-down-rectangle:before {
  content: "\e736";
}

.zq-icon-browse-off:before {
  content: "\e737";
}

.zq-icon-export:before {
  content: "\e738";
}

.zq-icon-close-rectangle:before {
  content: "\e739";
}

.zq-icon-check-rectangle-filled:before {
  content: "\e73a";
}

.zq-icon-add-rectangle:before {
  content: "\e73b";
}

.zq-icon-edit:before {
  content: "\e73c";
}

.zq-icon-add:before {
  content: "\e73d";
}

.zq-icon-ellipsis:before {
  content: "\e73e";
}

.zq-icon-chevron-down-circle:before {
  content: "\e73f";
}

.zq-icon-delete:before {
  content: "\e740";
}

.zq-icon-add-circle:before {
  content: "\e741";
}

.zq-icon-chevron-up-rectangle:before {
  content: "\e6c2";
}

.zq-icon-filter-clear:before {
  content: "\e723";
}

.zq-icon-thumb-up:before {
  content: "\e724";
}

.zq-icon-fullscreen-exit:before {
  content: "\e725";
}

.zq-icon-fullsreen:before {
  content: "\e726";
}

.zq-icon-minus-rectangle:before {
  content: "\e727";
}

.zq-icon-poweroff:before {
  content: "\e728";
}

.zq-icon-pause:before {
  content: "\e729";
}

.zq-icon-pause-circle:before {
  content: "\e72a";
}

.zq-icon-download:before {
  content: "\e72b";
}

.zq-icon-browse:before {
  content: "\e72c";
}

.zq-icon-clear:before {
  content: "\e72d";
}

.zq-icon-minus-circle:before {
  content: "\e72e";
}

.zq-icon-edit-1:before {
  content: "\e72f";
}

.zq-icon-pause-circle-filled:before {
  content: "\e730";
}

.zq-icon-search:before {
  content: "\e711";
}

.zq-icon-stop-circle:before {
  content: "\e712";
}

.zq-icon-rectangle:before {
  content: "\e713";
}

.zq-icon-save:before {
  content: "\e714";
}

.zq-icon-play-circle:before {
  content: "\e715";
}

.zq-icon-zoom-in:before {
  content: "\e716";
}

.zq-icon-stop-circle-filled:before {
  content: "\e717";
}

.zq-icon-play-circle-filled:before {
  content: "\e718";
}

.zq-icon-link:before {
  content: "\e719";
}

.zq-icon-link-unlink:before {
  content: "\e71a";
}

.zq-icon-login:before {
  content: "\e71b";
}

.zq-icon-move:before {
  content: "\e71c";
}

.zq-icon-more:before {
  content: "\e71d";
}

.zq-icon-minus-circle-filled:before {
  content: "\e71e";
}

.zq-icon-zoom-out:before {
  content: "\e71f";
}

.zq-icon-play:before {
  content: "\e720";
}

.zq-icon-cloud-upload:before {
  content: "\e721";
}

.zq-icon-stop:before {
  content: "\e722";
}

.zq-icon-setting:before {
  content: "\e6c4";
}

.zq-icon-logout:before {
  content: "\e6c5";
}

.zq-icon-unfold-less:before {
  content: "\e6c6";
}

.zq-icon-reset:before {
  content: "\e707";
}

.zq-icon-share:before {
  content: "\e708";
}

.zq-icon-circle:before {
  content: "\e6c3";
}

.zq-icon-a-order-adjustmentcolumn:before {
  content: "\e709";
}

.zq-icon-upload:before {
  content: "\e70a";
}

.zq-icon-thumb-down:before {
  content: "\e70b";
}

.zq-icon-unfold-more:before {
  content: "\e70c";
}

.zq-icon-scan:before {
  content: "\e70d";
}

.zq-icon-remove:before {
  content: "\e70e";
}

.zq-icon-refresh:before {
  content: "\e70f";
}

.zq-icon-rollback:before {
  content: "\e710";
}

.zq-icon-check-circle-filled:before {
  content: "\e706";
}

.zq-icon-arrow-left:before {
  content: "\e6fa";
}

.zq-icon-arrow-down-rectangle:before {
  content: "\e6fb";
}

.zq-icon-arrow-down:before {
  content: "\e6fc";
}

.zq-icon-info-circle:before {
  content: "\e6ca";
}

.zq-icon-time-filled:before {
  content: "\e6fd";
}

.zq-icon-info-circle-filled:before {
  content: "\e6fe";
}

.zq-icon-help:before {
  content: "\e6c9";
}

.zq-icon-help-circle:before {
  content: "\e6ff";
}

.zq-icon-help-circle-filled:before {
  content: "\e700";
}

.zq-icon-error-circle-filled:before {
  content: "\e6c8";
}

.zq-icon-error-circle:before {
  content: "\e701";
}

.zq-icon-close-circle-filled:before {
  content: "\e6c7";
}

.zq-icon-error:before {
  content: "\e702";
}

.zq-icon-check:before {
  content: "\e703";
}

.zq-icon-check-circle:before {
  content: "\e704";
}

.zq-icon-check-rectangle:before {
  content: "\e705";
}

.zq-icon-swap:before {
  content: "\e6e7";
}

.zq-icon-caret-right:before {
  content: "\e6e8";
}

.zq-icon-a-chevron-leftdouble:before {
  content: "\e6e9";
}

.zq-icon-swap-left:before {
  content: "\e6ea";
}

.zq-icon-chevron-up-circle:before {
  content: "\e6eb";
}

.zq-icon-caret-up-small:before {
  content: "\e6ec";
}

.zq-icon-page-first:before {
  content: "\e6ed";
}

.zq-icon-chevron-right:before {
  content: "\e6ee";
}

.zq-icon-backward:before {
  content: "\e6ef";
}

.zq-icon-arrow-right:before {
  content: "\e6f0";
}

.zq-icon-caret-right-small:before {
  content: "\e6f1";
}

.zq-icon-caret-left:before {
  content: "\e6f2";
}

.zq-icon-caret-down-small:before {
  content: "\e6f3";
}

.zq-icon-chevron-left:before {
  content: "\e6f4";
}

.zq-icon-chevron-down:before {
  content: "\e6f5";
}

.zq-icon-backtop-rectangle:before {
  content: "\e6f6";
}

.zq-icon-caret-left-small:before {
  content: "\e6f7";
}

.zq-icon-arrow-up:before {
  content: "\e6f8";
}

.zq-icon-caret-down:before {
  content: "\e6f9";
}

.zq-icon-previous:before {
  content: "\e6ce";
}

.zq-icon-chevron-right-circle:before {
  content: "\e6cd";
}

.zq-icon-forward:before {
  content: "\e6dc";
}

.zq-icon-caret-up:before {
  content: "\e6cc";
}

.zq-icon-next:before {
  content: "\e6dd";
}

.zq-icon-swap-right:before {
  content: "\e6de";
}

.zq-icon-page-last:before {
  content: "\e6df";
}

.zq-icon-chevron-up:before {
  content: "\e6e0";
}

.zq-icon-backtop:before {
  content: "\e6cb";
}

.zq-icon-round:before {
  content: "\e6e1";
}

.zq-icon-enter:before {
  content: "\e6e2";
}

.zq-icon-a-chevron-rightdouble:before {
  content: "\e6e3";
}

.zq-icon-chevron-left-rectangle:before {
  content: "\e6e4";
}

.zq-icon-chevron-right-rectangle:before {
  content: "\e6e5";
}

.zq-icon-chevron-left-circle:before {
  content: "\e6e6";
}

.zq-icon-menu-unfold:before {
  content: "\e6d1";
}

.zq-icon-a-rootlist:before {
  content: "\e6d2";
}

.zq-icon-format-horizontal-align-center:before {
  content: "\e6cf";
}

.zq-icon-menu-fold:before {
  content: "\e6d3";
}

.zq-icon-queue:before {
  content: "\e6d4";
}

.zq-icon-order-ascending:before {
  content: "\e6d5";
}

.zq-icon-format-vertical-align-left:before {
  content: "\e6d6";
}

.zq-icon-bianjiliebiao:before {
  content: "\e6d7";
}

.zq-icon-bulletpoint:before {
  content: "\e6d8";
}

.zq-icon-format-horizontal-align-bottom:before {
  content: "\e6d9";
}

.zq-icon-format-vertical-align-center:before {
  content: "\e6da";
}

.zq-icon-format-horizontal-align-top:before {
  content: "\e6db";
}

.zq-icon-menu-unfoldbeifen:before {
  content: "\e6d0";
}

