ued-login-layout {
  --ued-login-primary-color: var(--um-primary-color-normal);
  --ued-login-form-text-color: #1E2435;
  --ued-control-color: var(--ued-login-form-text-color);
  height: 100%;
  ued-select {
    --ued-control-bg: transparent;
    --ued-control-border-width: 0;
    --ued-control-inner-width: 100px;
    color: var(--ued-login-form-text-color);
    :deep(input) {
      text-align: right;
    }
    :deep(.ued-form-control),
    :deep(.ued-form-control):hover {
      box-shadow: none !important;
    }
  }
  :deep(.ued-login-copyright) a {
    color: var(--ued-login-form-text-color);
    margin-top: 6px;
  }
  :deep(.dark) {
    --ued-login-primary-color: var(--um-dark-primary-color-normal);
    --ued-login-form-text-color: #fff;
    --ued-control-color: var(--ued-login-form-text-color);

    // select
    --ued-popover-bg: #172034; // antd选择器背景色
    --ued-select-control-option-hover-bg: var(--um-primary-color-light); // antd选择器hover背景色
    --ued-select-control-option-selected-bg: var(--um-primary-color-light); // antd选择器选中背景色
    --ued-select-control-option-hover-color: var(--um-primary-color-normal);
    --ued-select-control-option-selected-color: var(--um-primary-color-normal);
  }
}